.contato-component {
  .contato-box {
    background: #d4d6d8;
    padding: 40px 15px;
    padding-top: 0px;
    .title {
      color: #555c62;
      padding-bottom: 30px;
    }
    .form {
      input,
      textarea {
        display: block;
        background-color: #ffffff;
        border: 1px solid #8b97a2;
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
        outline: none;
        padding-top: 12px;
        &::placeholder {
          font-size: 18px;
          letter-spacing: 0px;
          line-height: 18px;
          color: #555c62;
        }
      }
      input {
        height: 46px;
      }
      textarea {
        padding-top: 15px;
        height: 109px;
        z-index: 2;
        position: relative;
      }

      .teste {
        background: transparent;
        height: 50px;
        width: 120px;
        border: none;
        color: transparent;
      }

      br {
        display: none;
      }

      .btn-form {
        height: 74px;
        width: 178px;
        background: url("../../dist/img/btn-enviar.png") center no-repeat;
        background-size: contain;
        margin: 0 auto;
      }

      @media (min-width: map-get($grid-breakpoints, lg)) {
        .grid {
          display: flex;
          justify-content: space-between;
          .text-389,
          .text-390 {
            width: 48% !important;
          }
          input {
            // width: 48%;
            margin-left: 0;
            margin-right: 0;
          }
        }
        .teste {
          background: transparent;
          height: 50px;
          width: 120px;
          border: none;
          color: transparent;
        }
        .btn-form {
          height: 90px;
          width: 165px;
          background: url("../../dist/img/btn-enviar.png") center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.cta-box {
  padding-top: 30px;
  padding-bottom: 30px;
  .btn-cta {
    width: 320px;
    height: 63px;
    background-color: #101b2a;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 22px;
    &:before {
      border-bottom: 63px solid transparent;
      border-right: 11px solid #101b2a;
    }
    &:after {
      border-top: 63px solid transparent;
      border-left: 10.8px solid #101b2a;
      right: -9px;
    }
  }
}
