.fale-bg-lg {
  background: url("../../dist/img/bg-fale-mob.png") no-repeat;
  background-size: cover;
  background-position-y: -40px;
  @media (min-width: 700px) and (max-width: 1023px) {
    background-position-y: -288px;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .position-fale-sm {
    top: -230px !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .fale-bg-lg {
    background: url("../../dist/img/bg-fale-lg.png") no-repeat !important;
    background-size: cover !important;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .position-fale-sm {
    top: -210px;
  }
}

.contato-page {
  margin-top: 30px;
  position: relative;
  .contato-box {
    background: white !important;
  }
  .detail-1 {
    position: absolute;
    top: 20px;
    left: -70px;
  }
  .detail-2 {
    position: absolute;
    top: -250px;
    right: 0px;
  }
}

.info {
  text-align: center;
  .numero {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      padding-right: 10px;
    }
  }
  span,
  a {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 30px;
    text-align: left;
    color: #ba7f00;
    text-align: center;
    .big {
      font-size: 30px !important;
      padding-left: 5px;
    }
  }

  p {
    width: 233px;
    height: 62px;
    font-family: "Helvetica Neue";
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #555c62;
    margin: 15px auto;
    margin-bottom: 45px !important;
  }
}

.map {
  position: relative;
  margin-bottom: -100px;
  .map-img {
    width: 100%;
  }

  .map-btn {
    position: relative;
    top: -232px;
    margin: 0 auto;
    left: 137px;
    @media (max-width: 380px) {
      top: -212px;
      left: 127px;
    }
    @media (min-width: 700px) and (max-width: 1023px) {
      top: -346px;
      left: 289px;
    }
  }
}

.container-custom {
  .midias {
    z-index: 5;
    position: relative;
  }
}

.ref-lg {
  padding: 50px;
  padding-bottom: 50px !important;
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .ref-lg {
    .humann {
      padding-top: 30px;
      position: static !important;
    }
  }
  .contato-page {
    position: relative;
    .contato-component {
      margin-bottom: 55px;
      width: 60%;
      background: white;
      padding-bottom: 54px;
      .contato-box {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 50px !important;
      }
      .form {
        position: relative;

        .btn-form {
          height: 65px !important;
          width: 200px !important;
          position: absolute !important;
          left: 64% !important;
          bottom: -90px !important;
        }
      }
    }
    .info {
      padding-left: 50px;
      // padding-bottom: 180px;
      position: relative;
      top: -30px;
      a {
        justify-content: start !important;
      }
      p {
        text-align: left !important;
        margin-left: 0 !important;
        width: 240px;
        height: 45px;
        font-family: "Work Sans";
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.03em;
        line-height: 24px;
        text-align: left;
        color: #555c62;
        margin-bottom: 10px !important;
        margin-top: 40px !important;
      }
    }
  }
  .map {
    height: 460px !important;
    position: relative !important;
    margin-bottom: 50px;
  }
  .map-btn {
    position: absolute !important;
    margin: 0 auto !important;
    top: 54px !important;
    left: 37% !important;
  }
  .bg-lg-fale {
    background: url("../../dist/img/linha-lg-fale.png") no-repeat;
    position: relative;
    overflow: hidden;
    .detail-3 {
      position: absolute;
      right: -70px;
      top: 40px;
      width: 420px;
    }
  }
}

@media (min-width: 1023px) and (max-width: 1100px) {
  .bg-lg-fale {
    background: none !important;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .bg-lg-fale {
    background-size: 90%;
    background-position-x: 550px;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
  .bg-lg-fale {
    background-size: 80%;
    background-position-x: 565px;
  }
}
@media (min-width: 1440px) {
  .bg-lg-fale {
    background-size: 80%;
    background-position-x: 600px;
  }
}
@media (min-width: 1980px) {
  .bg-lg-fale {
    background-size: 50%;
    background-position-x: 770px;
  }
}

@media (min-width: 1440px) {
  .map-btn {
    left: 38% !important;
  }
}
@media (min-width: 1980px) {
  .map-btn {
    top: 138px !important;
    left: 38.5% !important;
  }
}
