.height-correction {
  height: 840px !important;
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .bg-position-custom {
    background-position-x: -90px !important;
  }
  .equipe-lg {
    background-size: 62% !important;
    background-position-x: 497px !important;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .equipe-lg {
    background-size: 62% !important;
    background-position-x: 500px !important;
    background-position-y: -62px !important;
  }
}

@media (min-width: 1440px) {
  .equipe-lg {
    background-size: 55% !important;
    background-position-x: 555px !important;
  }
}

@media (min-width: 1980px) {
  .equipe-lg {
    background-size: 41% !important;
    margin-top: -362px !important;
    background-position-x: 704px !important;
    background-position-y: -59px !important;
  }
}

.bg-equipe-lg {
  background: url("../../dist/img/bg-equipe-mob.png");
  background-size: cover;
  margin-bottom: -100px;
  height: 990px !important;
  @media (max-width: 400px) {
    height: 930px !important;
  }
  @media (min-width: 700px) and (max-width: 1023px) {
    margin-bottom: 95px;
  }
}

@media (min-width: map-get($grid-breakpoints , lg)) {
  .bg-equipe-lg {
    height: 570px !important;
    background: url("../../dist/img/bg-equipe-lg.png");
    background-size: cover;
  }
  .banner-info {
    .title {
      left: 0 !important;
    }
    .position-top-lg {
      top: 235px !important;
    }
  }
  .equipe-lg {
    margin-top: -160px;
    background: url("../../dist/img/linha-equipe.png") no-repeat;
    padding-top: 85px;

    .engenheiros {
      justify-content: center !important;
      flex-wrap: wrap !important;
      align-items: baseline !important;
      .item {
        img {
          width: 315px;
        }
      }
    }
    @media (min-width: 1980px) {
      margin-top: -291px !important;
    }
    p {
      padding-left: 30px;
      padding-right: 30px;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 0.02em;
      line-height: 30px;
      text-align: left;
      color: #555c62;
      background: white;
    }
    .lideres,
    .engenheiros {
      display: flex;
      justify-content: space-around;
      .name {
        width: 58%;
        margin: 0 auto;
      }
      .name {
        font-weight: 300;
        font-size: 21px;
        letter-spacing: 0.02em;
        line-height: 35px;
        color: #8b97a2;
      }
      .funcao {
        padding-left: 4%;
        width: 65%;
        margin: 0 auto;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: #8b97a2;
      }
    }
    .engenheiros {
      padding-top: 100px;
      align-items: end;
    }
  }
  .projetos-equipe {
    .banner-projetos {
      background: url("../../dist/img/projetos-equipe.png") no-repeat;
      background-size: 60%;
      background-position-x: 98%;
      background-position-y: -3px;
    }
  }
  .cta-equipe {
    img {
      width: 250px;
      position: absolute;
      left: -60px;
      top: -80px;
      z-index: 20;
    }
  }
}

.equipe-intro {
  top: -470px !important;
  padding: 9%;
  @media (max-width: 380px) {
    padding: 8%;
  }
  @media (min-width: 700px) and (max-width: 1023px) {
    padding-bottom: 17px;
  }
  .sub {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 300;
  }
  img {
    position: absolute;
    right: 0;
    bottom: -107px;
    z-index: 1;
  }
}

.equipe {
  margin-top: -465px;
  background: #f2f3f5;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  .detail-equipe {
    position: absolute;
    left: 0;
    bottom: 30px;
  }
  .wrapper {
    .equipe-container {
      .p-2 {
        img {
          height: 315px !important;
        }
      }
      .pessoa {
        text-align: center;
        background: transparent;
        position: relative;

        .detalhe-seiji {
          position: absolute;
          top: 35px;
        }
        .detalhe-jessica {
          position: absolute;
          right: 74px;
          bottom: 58px;
          @media (max-width: 400px) {
            right: 54px;
          }
        }
        .name {
          font-size: 26px;
          letter-spacing: 1px;
          line-height: 23px;
          color: #555c62;
          font-weight: 300;
        }
        .gabriela {
          width: 100%;
          @media (min-width: map-get($grid-breakpoints, lg)) {
            width: 57%;
          }
        }
        .caption {
          font-size: 20px;
          letter-spacing: 0px;
          line-height: 23px;
          color: #555c62;
          font-weight: 300;
          width: 226px;
          margin: 0 auto;
          padding-top: 10px;
        }
      }
    }
  }
  .equipe-nav {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -155px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1023px) and (max-width: 1100px) {
  .equipe-custom {
    top: -220px !important;
  }
  .equipe-lg {
    background: none;
    padding-top: 120px;
    .engenheiros {
      .item {
        img {
          width: 80%;
        }
      }
    }
  }
}
