footer {
  overflow: hidden;
  background: $red;
  text-align: center;
  color: white;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 300;
  padding: 80px 60px;
  // padding-bottom: 120px !important;
  position: relative;

  .menu-footer {
    display: flex;
    flex-direction: column;
    a {
      color: white;
      text-transform: uppercase;
    }
  }
  .lg-size {
    // padding-top: 40px;
    a {
      color: white !important;
    }
  }
  .endereco {
    padding-bottom: 30px;
  }
  .maior {
    font-size: 24px;
    display: inline;
    padding-left: 5px;
  }
  .midias {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 70px;
    img {
      height: 26px;
    }
  }
  .humann {
    position: relative;
    font-size: 13px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: white;
      img {
        width: 80px;
        padding-left: 10px;
      }
    }
  }
  .detalhes-bg {
    .d-1 {
      position: absolute;
      bottom: -120px;
      left: 0;
      width: 75%;
      height: 380px;
    }
    .d-2 {
      position: absolute;
      top: -160px;
      right: 0;
      height: 300px;
      width: 120px;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-bottom: 0;
    padding: 42px !important;
    .container-custom {
      max-width: 740px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .menu-footer {
      align-items: flex-start;
      position: relative;
      z-index: 5;
      a {
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 40px;
        text-align: left;
      }
    }
    .lg-size {
      text-align: left;
      width: 400px;
      position: relative;
      z-index: 5;
      padding-top: 0;

      .midias {
        margin: unset;
        padding-top: 10px !important;
        padding: 0;
      }
      .endereco {
        padding-bottom: 10px;
      }
      br {
        display: none;
      }
    }
    .humann {
      position: absolute;
      right: 70px;
    }
    .detalhes-bg {
      .detail-lg {
        display: block !important;
        position: absolute;
      }
      .img-1 {
        top: 0;
      }
    }
  }
}
