.navbar {
  width: 100%;
  height: 97px;
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
  background-color: #520e0a;
  div:first-child {
    padding: 16px 30px;
  }
}

.logo-site {
  width: 150px;
  background: url("../../dist/img/logo.svg") center center no-repeat;
  background-size: contain;
  height: 70px;
  position: relative;
  z-index: 100;
}

button:focus {
  outline: none;
}

.navbar-collapse-sm {
  background: url("../../dist/img/bg-menu-mobile.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding-top: 95px;

  ul {
    margin-bottom: 30px;
    li {
      font-size: 20px;
      margin-bottom: 10px;
      &::marker {
        display: none;
      }

      a {
        color: white;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 45px;
        color: #ffffff;
        font-weight: 300;
      }
    }
  }
  span,
  a {
    display: block;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff !important;
    font-weight: 300;
  }
  .maior {
    font-size: 24px;
    display: inline;
    padding-left: 5px;
  }
  .midias {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 15px;

    img {
      height: 26px;
    }
  }
}
.menu-fixo {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

@media (min-width: map-get($grid-breakpoints,md)) {
  nav {
    .navbar-collapse-sm {
      ul {
        padding: 0px;
        li:last-child {
          padding-right: 0;
        }
        li {
          letter-spacing: 1px;
          line-height: 48px;
          font-weight: 400;
          font-size: 14px;
          padding-right: 10px;
          margin: 0;

          a:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}

.navbar-nav {
  .menu-active {
    img {
      display: block !important;
    }
    .nav-link {
      color: $yellow !important;
      display: flex;
    }
  }
  .nav-item {
    img {
      display: none;
      width: 80px;
      height: 25px;
      position: relative;
      right: 68px;
      top: 17px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-red {
    background: $red !important;
  }
  nav {
    background: transparent !important;
    position: fixed !important;
    top: 0;

    .navbar-collapse-sm {
      background: url("../../dist/img/bg-menu.png") center center no-repeat;
      background-size: cover;
      height: 0px;
      top: 0;
      padding-top: 100px;
      transition: height linear 0.05s;

      .navbar-nav {
        .menu-active {
          img {
            display: flex !important;
          }
          .nav-link {
            color: $yellow !important;
          }
        }
        .nav-item {
          img {
            display: none;
            width: 80px;
            height: 25px;
            position: relative;
            top: 37px;
            right: 70px;
          }
        }
      }

      .nav-link {
        padding: 0 !important;
        &:hover {
          opacity: 0.6;
        }
      }
      .menu-lg {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
      .midias {
        flex-direction: column;
        align-items: center;
        width: 40px;
        position: absolute;
        right: 0;
        top: -5px;
        height: 250px;
        justify-content: space-around;
      }
    }

    .show {
      height: 100vh !important;
    }
    // .collapsing {
    //   margin-top: 50px !important;
    // }
    ul {
      flex-direction: column !important;
      height: 100%;
      li {
        display: flex;
        a {
          font-weight: 300;
          font-size: 42px;
          letter-spacing: 0.02em;
          line-height: 80px !important;
          text-align: left;
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
}

.hamburger {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
}

.hamburger .line {
  width: 38px;
  height: 5px;
  background-color: $yellow;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-11.9px) rotate(-45deg);
  -ms-transform: translateY(-11.9px) rotate(-45deg);
  -o-transform: translateY(-11.9px) rotate(-45deg);
  transform: translateY(-11.9px) rotate(-45deg);
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .is-active {
    background: transparent !important;
    .line {
      background: $yellow !important;
    }
  }
  .hamburger {
    background: $yellow;
    .line {
      background: white;
    }
  }
}
