@mixin animation($animation) {
  -webkit-animation: $animation;
  -o-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
@mixin transform($transforms...) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

.bg-home {
  background: url("../../dist/img/bg-home-mobile.png") center center no-repeat;
  background-size: cover;
  @media (min-width: map-get($grid-breakpoints , lg)) {
    background: url("../../dist/img/bg-home-desk.png") center center no-repeat;
    background-size: cover;
  }
}

.banner-info {
  position: relative;
  top: -245px;
  margin-bottom: -200px;
  h1 {
    color: $yellow;
    padding-bottom: 25px;
  }
  .btn-cta {
    width: 153px;
    background-color: $yellow;
    height: 34px;
  }
  .btn-cta:before {
    border-bottom: 34px solid transparent;
  }
  .btn-cta:after {
    border-top: 34px solid transparent;
  }

  .ba-parent {
    position: relative;
    bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    padding: 20px;
    -o-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    height: 50px;
  }
  .banner-arrow {
    background: url("../../dist/img/arrow-down-layout.png") center center
      no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
  }
  @include keyframes(bounce) {
    0%,
    20%,
    50%,
    80%,
    100% {
      @include transform(translateY(0));
    }
    40% {
      @include transform(translateY(-20px));
    }
    60% {
      @include transform(translateY(-10px));
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    margin-bottom: -90px;
    .title {
      top: -100px;
      position: absolute !important;
      text-align: left;
    }
    .sub-title {
      padding-top: 20px;
      font-weight: 300;
      font-size: 26px;
      line-height: 35px;
      text-align: left;
      color: #fff;
    }
    .cta-banner {
      position: absolute !important;
      left: 10px !important;
      bottom: -55px !important;
      &:hover {
        color: white;
        opacity: 0.8;
      }
    }
    .ba-parent {
      display: none !important;
    }
  }
}

.projetos-home {
  position: relative;
  background: transparent;
  overflow: hidden;

  .detail {
    background: url(../../dist/img/teste.svg) no-repeat;
    height: 70px;
    background-size: cover;
    background-position-y: -1050px;
    position: relative;
    left: 50px;
    @media (min-width: 360px) and (max-width: 400px) {
      background-position-y: -1100px;
    }
    @media (min-width: 400px) {
      background-position-y: -1220px;
    }
  }

  .img-2-home {
    width: 100%;
    position: relative;
    z-index: 5;
  }
  .sobre-home {
    padding-top: 0 !important;
    padding: 45px;
    position: relative;

    .text {
      font-size: 20px;
      letter-spacing: 0px;
      line-height: 30px;
      color: #101b2a;
      text-align: center;
    }
    .btn-cta {
      margin-top: 40px;
      width: 153px;
      background-color: $yellow;
      height: 34px;
      &:before {
        border-bottom: 34px solid transparent;
      }
      &:after {
        border-top: 34px solid transparent;
      }
    }
  }
  @media (min-width: 1023px) and (max-width: 1100px) {
    .linha-detalhe {
      position: absolute;
      top: -138px;
      left: 224px;
      width: 80%;
    }
  }

  @media (min-width: 1280px) {
    .banner-projetos {
      height: 200px;
    }
    .linha-detalhe {
      position: absolute;
      top: -390px;
      left: 101px;
      z-index: 5;
    }
  }
  @media (min-width: 1366px) {
    .linha-detalhe {
      position: absolute;
      top: -369px;
      left: 140px;
      z-index: 5;
    }
  }

  @media (min-width: 1440px) {
    .linha-detalhe {
      position: absolute;
      top: -369px;
      left: 184px;
      z-index: 5;
    }
  }

  @media (min-width: 1980px) {
    .linha-detalhe {
      position: absolute;
      top: -369px;
      left: 438px;
      z-index: 5;
    }
  }
}

@media (min-width: 1366px) {
  .custom-bg {
    background: url("../../dist/img/bg-projetos-desk.png") no-repeat;
    background-size: cover !important;
    background-position-y: 102.7%;
    background-position-x: 133px;
  }
}

@media (min-width: 1440px) {
  .custom-bg {
    background-position-x: 170px;
  }
}

@media (min-width: 1980px) {
  .custom-bg {
    background-position-x: 446px;
    background-position-y: 101.7%;
  }
}

.historia-home {
  margin-bottom: 70px;
  .btn-cta {
    margin: 0;
    width: 45.75px;
    height: 34px;
    background: $red;
    &:before {
      border-bottom: 34px solid transparent !important;
      border-right-color: $red !important;
    }
    &:after {
      border-left-color: $red !important;
      border-top: 34px solid transparent !important;
    }
  }
}

.sobre-home {
  .btn-cta {
    z-index: 2;
  }
}

.custom-contato-home {
  position: relative;
  padding-bottom: 60px !important;
  padding-top: 60px !important;
  .detail-1 {
    width: 177px;
    position: absolute;
    top: -123px;
    left: -41px;
    z-index: 0;
  }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  .custom-contato-home {
    .detail-1 {
      top: -70px;
      left: -50px;
      width: 250px;
    }
    .detail-2 {
      width: 250px;
      position: absolute;
      right: 0px;
      bottom: 50px;
    }
  }
}

.show {
  display: block !important;
}

.cookies {
  display: none;
  .cookie-container {
    width: 100%;
    height: 100%;
    background: #3a3636;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 999999;
  }

  .cookie-warn {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    width: 100%;
    z-index: 9999999;
    padding: 25px;
    opacity: 1;
    .cookie-text {
      width: 80%;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      font-size: 10px;
      align-items: center;
    }
    .buttons .btn {
      border: $red;
      background: $red !important;
      background-color: $red !important;
      &:hover {
        transform: scale(1.04);
      }
      @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 10px;
      }
    }
  }
}
