@font-face {
  src: url("../../dist/css/HurmeGeometricSans2.otf");
  font-family: "Hurme Geometric Sans 2";
}

.bg-projetos {
  background: url("../../dist/img/bg-projeto-page-mob.png") center center
    no-repeat;
  background-size: cover;
  // background-position-y: -40px;
}

.margin-correction-2 {
  margin-bottom: -215px !important;
}

.margin-correction,
.margin-correction-2 {
  margin-bottom: -187px;
  @media (min-width: 700px) and (max-width: 1023px) {
    margin-bottom: -165px !important;
  }
  .sub {
    width: 82%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
}

.arrow-click {
  margin-top: 25px !important;
  width: 63.15px !important;
  height: 46.74px !important;
  background: #ba7f00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:before {
    border-bottom: 47px solid transparent !important;
  }
  &:after {
    border-top: 47px solid transparent !important;
  }
}

@media (min-width: 1280px) {
  .projetos-lg {
    background-size: 60% !important;
    background-position-y: -208px !important;
    background-position-x: 596px !important;
  }
}
@media (min-width: 1366px) {
  .projetos-lg {
    background-size: 68% !important;
    background-position-x: 619px !important;
    background-position-y: -250px !important;
  }
}
@media (min-width: 1440px) {
  .projetos-lg {
    background-size: 55% !important;
    background-position-x: 658px !important;
    background-position-y: -225px !important;
  }
}
@media (min-width: 1980px) {
  .projetos-lg {
    background-size: 40% !important;
    background-position-x: 922px !important;
  }
}

@media (min-width: 1023px) and (max-width: 1100px) {
  .projetos-lg {
    background: none !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .font-size-24 {
    font-size: 24px !important;
  }
  .bg-projetos {
    background: url("../../dist/img/bg-projeto-lg.png") no-repeat;
    background-size: cover;
  }
  .margin-correction,
  .margin-correction-2 {
    margin-bottom: 0 !important;
  }
  .projetos-lg {
    position: relative;
    padding-top: 60px;
    background: url("../../dist/img/detalhe-projeto-lg-intro.png") no-repeat;
    background-size: cover;

    .header-section {
      margin-bottom: 60px;
    }

    img {
      position: absolute;
      right: 4px;
      height: 393px;
      top: -188px;
    }

    .title {
      height: 127px;
      font-weight: 300;
      font-size: 46px;
      letter-spacing: 0.02em;
      line-height: 50px;
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      width: 672px;
      font-family: "Hurme Geometric Sans 2";
      font-size: 40px;
      color: #555c62;
    }
    .sub {
      padding-top: 30px;
      padding-bottom: 30px;
      width: 816px;
      height: 25px;
      font-weight: normal;
      font-size: 25px;
      letter-spacing: 0.02em;
      line-height: 50px;
      text-align: center;
      color: #707070;
      margin: 0 auto;
    }
  }
}
