.bg-teste {
  position: absolute;
  background: url(../../dist/img/teste.svg) no-repeat;
  background-size: auto;
  background-size: cover;
  height: 645px;
  width: 85%;
  right: 0;
  top: -30px;
  z-index: 0;
}
.banner-projetos {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    color: #555c62;
    position: relative;
    top: -20px;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    height: 250px;
    .title {
      background: white;
      height: 65px;
      z-index: 5;
      display: flex;
      align-items: center;
    }
  }
}

.slider-home {
  // height: 476px;
  .casa-slider {
    .casa-item {
      height: 476px;

      width: 100%;
      .imagem {
        padding: 30px;
        background-size: cover !important;
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .filtro-amarelo {
          width: 100%;
          height: 100%;
          background: #805700;
          opacity: 0.7;
          position: absolute;
          z-index: 0;
        }
        .nome {
          font-size: 46px !important;
          padding-bottom: 0 !important;
        }
        .nome,
        .situacao {
          font-size: 26px;
          letter-spacing: 1px;
          line-height: 100%;
          color: #ffffff;
          font-weight: 300;
          text-transform: uppercase;
          text-align: center;
          padding-bottom: 10px;
          z-index: 1;
        }
        .btn-cta {
          margin-top: 20px;
          width: 200px;
          height: 50px;
          background: $red;
          opacity: 1 !important;
          &:before {
            border-bottom: 50px solid transparent;
            border-right: 11px solid $red;
          }
          &:after {
            border-top: 50px solid transparent;
            border-left: 11px solid $red;
          }
        }
        .nome,
        .situacao,
        .btn-cta {
          position: relative;
          top: 54px;
        }
      }
    }
  }
  .casa-nav {
    outline: none;
    position: relative;
    display: none;
    width: 90%;
    height: 40px;
    justify-content: space-between;
    margin: 0 auto;
    top: -250px;
    z-index: 5;
    img {
      width: 20px;
    }
  }
}

.desk-grid {
  z-index: 10 !important;
  position: relative;

  .bg-grid {
    padding: 0 !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 584px;
    max-height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    .text {
      height: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #fff !important;
      padding: 20px;
      padding-left: 40px !important;
      z-index: 5;
      position: relative;
      .title {
        color: white !important;
        width: 100%;
        height: auto !important;
        padding-bottom: 20px;
      }
    }
    .filtro-amarelo {
      width: 100%;
      height: 100%;
      background: #805700;
      opacity: 0.5;
      position: absolute;
      z-index: 0;
      display: none;
    }

    &:hover {
      -webkit-filter: none;
      filter: none;
      filter: none;

      .filtro-amarelo {
        display: block;
      }
      .title,
      .situacao {
        font-weight: 300;
        font-size: 26px;
        letter-spacing: 0.02em;
        line-height: 35px;
        text-align: left;
        opacity: 1 !important;
        text-transform: uppercase;
      }
      .situacao {
        font-size: 22px !important;
      }
      .arquitetura,
      .area {
        width: 299px;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.02em;
        line-height: 25px;
        text-align: left;
        opacity: 1;
      }
      .btn-cta {
        margin-top: 20px !important;
        margin: 0;
        position: relative;
        left: 10px;
        background: $red;
        &:before {
          border-bottom: 41px solid transparent;
          border-right: 11px solid $red;
        }
        &:after {
          border-top: 41px solid transparent;
          border-left: 11px solid $red;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
  .hover-1:hover,
  .hover-2:hover,
  .hover-3:hover,
  .hover-4:hover {
    .text {
      display: flex;
    }
  }
}
