.bg-quem-somos-lg {
  background: url("../../dist/img/bg-quem-mob.png") center no-repeat;
  background-size: cover;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-quem-somos-lg {
    background: url("../../dist/img/bg-quem-somos-lg.png") center center
      no-repeat;
    background-size: cover !important;
  }
  .height-correction {
    height: 614px !important;
  }
}

@media (min-width: 1366px) {
  .height-correction {
    height: 570px !important;
  }
}

.banner-info {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    .top-45 {
      position: relative;
      top: -15px;
    }
  }
}

.bg-foto-1 {
  background: url("../../dist/img/foto-1-quem-somos.png") center center
    no-repeat;
  background-size: cover;
  .item {
    width: 307px;
    margin: 0 auto;
    position: relative;
    top: -60px;
    .box-detail {
      position: absolute;
      top: -45px;
      left: -19px;
    }
    .white-box {
      width: 307px;
      height: 355px;
      background-color: #ffffff;
      padding: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        text-align: center;
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 30px;
        color: #101b2a;
        font-weight: 300;
      }
    }
  }
}

.valores {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #d4d6d8;
  position: relative;
  .detail-1 {
    position: absolute;
    right: 0;
    top: -100px;
  }
  .detail-2 {
    position: absolute;
    left: 0;
    bottom: -40px;
  }
  .wrapper {
    width: 275px;
    margin: 0 auto;
    .valores-container {
      .valor {
        width: 275px !important;
        margin: 0 auto;
        text-align: center;
        img {
          height: 100px;
          filter: brightness(0.3);
        }
        .title {
          padding-top: 35px;
          font-size: 36px;
          letter-spacing: 1px;
          line-height: 35px;
          color: #555c62;
          font-weight: 300;
          padding-bottom: 20px;
        }
        .content {
          font-size: 20px;
          letter-spacing: 0px;
          line-height: 33px;
          color: #555c62;
        }
      }
    }
  }
  .valores-nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -280px;
  }
}

.contato-quem {
  position: relative;
  .contato-component {
    .contato-box {
      padding-top: 40px !important;
    }
  }
  .detail-1 {
    position: absolute;
    left: 0;
    top: 20px;
  }
  .detail-2 {
    position: absolute;
    right: 0;
    bottom: 30px;
  }
}

// @media (min-width: 1280px) {
//   .quem-lg-somos {
//     background-size: 64% !important;
//     background-position: 50px !important;
//     background-position-y: -48px !important;
//   }
// }

@media (min-width: 1280px) {
  .quem-lg-somos {
    background-size: 59% !important;
    background-position: 103px !important;
    background-position-y: -100px !important;
    padding-bottom: 35px;
    .valores-desk {
      max-width: 83% !important;
    }
  }
}
@media (min-width: 1366px) {
  .quem-lg-somos {
    background-size: 56% !important;
    background-position: 129px !important;
    background-position-y: -117px !important;
    .valores-desk {
      max-width: 80% !important;
    }
  }
}
@media (min-width: 1440px) {
  .quem-lg-somos {
    background-size: 53% !important;
    background-position: 160px !important;
    background-position-y: -125px !important;
    padding-bottom: 40px;
    .valores-desk {
      max-width: 77% !important;
    }
  }
}

@media (min-width: 1980px) {
  .quem-lg-somos {
    background-size: 39% !important;
    background-position: 385px !important;
    background-position-y: -122px !important;
    padding-bottom: 70px;
    .valores-desk {
      max-width: 60% !important;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .quem-lg-somos {
    background: url("../../dist/img/linha-quem-somos.png") no-repeat;
    margin-top: 90px;
    padding-top: 85px;
    .title {
      background: white;
      padding-bottom: 0 !important;
      margin-bottom: 80px;
    }
    .linha {
      position: absolute;
      width: 70%;
    }
    .mb-lg-10 {
      margin-bottom: 5rem;
    }
    .title {
      font-weight: 300;
      font-size: 46px;
      letter-spacing: 0.02em;
      line-height: 50px;
      text-align: center;
      color: #555c62;
      padding-bottom: 80px;
    }
  }
  .projetos-quem {
    position: relative;
    .detalhe-lg {
      position: absolute;
      right: 0;
      top: 180px;
    }
  }
  .cta-quem {
    img {
      position: absolute;
      right: 0;
      top: -55px;
      width: 300px;
      z-index: 12;
    }
  }
}

.valores-desk {
  display: flex;
  justify-content: space-around;
  max-width: 88%;
  margin: 0 auto;
  padding-top: 39px;
  img {
    height: 80px;
    margin-bottom: 20px;
  }
  .d-1 {
    height: 1px;
    width: 25px;
    background: #ba7f00;
    margin-top: 15px;
    margin-left: 3px;
    display: inline-block;
  }

  .d-2 {
    height: 1px;
    width: 10px;
    background: #ba7f00;
    margin-top: 15px;
    margin-left: 3px;
    display: inline-block;
  }

  .title {
    font-weight: 300;
    font-size: 26px;
    letter-spacing: 0.02em;
    line-height: 20px;
    text-align: left;
    color: #ba7f00;
    text-transform: uppercase;
    margin-bottom: 10px !important;
  }

  p {
    height: 237px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 30px;
    text-align: left;
    color: #555c62;
    width: 309px;
  }
}

@media (min-width: 1023px) and (max-width: 1100px) {
  .quem-lg-somos {
    background-position-x: -24px !important;
  }
  .valores-desk {
    max-width: 100%;
    text-align: center;
    .title,
    p {
      text-align: center;
    }
  }
}
