.margin-discount {
  margin-bottom: -68px;
}
.single-banner {
  top: -240px;
  .intro,
  .title,
  .arquitetura,
  .area {
    position: relative;
  }
  .intro {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #ba7f00;
  }
  .arquitetura {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #fff;
  }
  .area {
    width: 278px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
}

.galeria-single {
  .container-foto {
    height: 702px;
    overflow: hidden;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      height: 1800px;
    }
  }
  .vendo-mais {
    height: auto !important;
  }
  .image {
    width: 100%;
    height: 234px;
  }
  .btn-cta {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 190px;
    height: 50px;
    background: $yellow;
    &:before {
      border-bottom: 50px solid transparent;
    }
    &:after {
      border-top: 50px solid transparent;
    }
  }
}

.lb-nav {
  .lb-prev,
  .lb-next {
    opacity: 0.7 !important;
  }
}

.single-lg-header {
  margin-bottom: -248px;
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  .single-lg-header {
    top: -300px !important;
    margin-bottom: -320px;
    .arquitetura,
    .area {
      text-align: left !important;
      margin: 0;
    }
    .arrow-click {
      top: 127px;
      cursor: pointer;
    }

    .intro {
      color: #fff;
      position: relative; /*faz os elementos pseudos acompanharem o elemento com a classe*/
      text-transform: uppercase;
      display: block;
      top: -100px;
      left: 15px;
      justify-content: left;
      align-items: center;
      background: $yellow;
      width: 180px;
      height: 34px;
      &:before {
        content: "";
        width: 0px;
        height: 0px;
        top: 0px;
        position: absolute;
        border-right: 11px solid $yellow;
        border-bottom: 34px solid transparent !important;

        left: -10px;
      }
      &:after {
        content: "";
        width: 0px;
        height: 0px;
        top: 0px;
        position: absolute;
        border-left: 10.8px solid $yellow;
        border-top: 34px solid transparent !important;

        right: -10px;
      }
    }
    .title {
      top: -50px;
      font-family: "Work Sans";
      font-weight: 300;
      font-size: 42px;
      letter-spacing: 0.03em;
      line-height: 62px;
      color: #ba7f00;
    }
    .arquitetura {
      font-family: "Work Sans";
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      text-align: left;
      color: #fff;
      max-width: 45%;
      padding-bottom: 20px;
    }
    .area {
      width: 288px;
      font-family: "Work Sans";
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 0.02em;
      line-height: 22px;
      text-align: left;
      color: #fff;
    }
  }
  .galeria-single {
    .image {
      height: 900px !important;
    }
    .btn-cta {
      background: black;
      &::before {
        border-right-color: black;
      }
      &::after {
        border-left-color: black;
      }
    }
  }
}
