@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");

$red: #520e0a;
$yellow: #ba7f00;
$green: #70b32f;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

span {
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  @media (min-width: 1980px) {
    max-width: 1800px !important;
  }
  @media (min-width: 1023px) and (max-width: 1100px) {
    max-width: 850px;
  }
}

.banner {
  .container-img {
    height: 570px;

    position: relative;
    // overflow: hidden;
    .img-banner {
      width: 100%;
      height: 100%;
      background-size: cover !important;
    }
    .diagonal {
      position: absolute;
      background: #520e0a;
      opacity: 0.93;
      height: 79%;
      width: 180%;
      bottom: -100px;
      left: -150px;
      transform: rotate(-20deg);
      filter: brightness(0.6);
      @media (min-width: map-get($grid-breakpoints, lg)) {
        height: 167%;
        width: 56%;
        top: -82px;
        left: -121px;
        transform: rotate(-12deg);
      }
    }
  }
}

.margin-auto {
  margin: 0 auto !important;
}

.title {
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.btn-cta {
  color: #fff;
  position: relative; /*faz os elementos pseudos acompanharem o elemento com a classe*/
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 10px;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 41px;
  margin: 0 auto;
  &:before {
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    position: absolute;
    border-right: 11px solid $yellow;
    left: -10px;
  }
  &:after {
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    position: absolute;
    border-left: 10.8px solid $yellow;
    right: -10px;
  }
  &:hover {
    color: white;
  }
}

.custom-box-right {
  margin: 0 0 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 90px;

  position: relative;
  height: 360px;
  background: #f2f3f5;

  &:before {
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    position: absolute;
    border-right: 100px solid #f2f3f5;
    border-bottom: 360px solid transparent;
    left: -100px;
  }

  p {
    width: 460px;
    background: transparent;
    padding-right: 30px;
    font-size: 18px;
  }
}

.custom-box-left {
  margin: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 90px;

  position: relative;
  height: 360px;
  background: #f2f3f5;

  &:after {
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    position: absolute;
    border-left: 100px solid #f2f3f5;
    border-top: 360px solid transparent;
    right: -100px;
  }

  p {
    width: 460px;
    background: transparent;
    padding-left: 50px;
    font-size: 18px;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .wpcf7-not-valid-tip {
    position: relative;
    top: -12px;
  }
}

@import "contato", "contato-component", "equipe", "footer", "header", "home",
  "projetos", "projetos-template", "quem-somos", "single-projeto";
